@import '../../styles/vars';
@import '../../styles/mixins';

.header {
    --bg: rgba(0, 0, 0, 0.7);
    --text: white;
    --border: none;
    &--inverted {
        --bg: white;
        --text: black;
        --box-shadow: 0px 0px 1px #333;
    }
    color: var(--text);
    z-index: $z-top;
    width: 100%;
    @include change(background-color, var(--bg), $white, $bp-m);
    @include change(color, var(--text), black, $bp-m);
    @include change(height, 80px, 55px, $bp-m);
    @include change(border-bottom-width, 0, 1, $bp-m);
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    box-shadow: var(--box-shadow);
    position: fixed;
    top: 0;
    left: 0;
    @include pn;
    letter-spacing: 0.025em;
    line-height: 18px;
    &__row {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
//logo
 //====USER
    &__stats {
        position: relative;
        padding-right: 10px;
    }
    &__stats-icon {
        width: 22px;
        height: 22px;
        fill: transparent;
        @include change(stroke, var(--text), black, $bp-m);
        stroke-width: 2px;
    }
    &__stats-number {
        color: white;
        display: block;
        padding: 2px 2px;
        position: absolute;
        border-radius: 5px;
        top: 0;
        right: 0;
        font-size: 10px;
        line-height: 10px;
        background-color: #999;
    }
    //search
}
//user menu
//lang menu
//==== E -> X ==== 

//--POPUPS
