
@import '../../styles/vars';
@import '../../styles/mixins';
            

.new-works-section {
    --padding-top: 55px;
    &--without-title{
        --padding-top: 155px;
    }
    padding-top: var(--padding-top);
    background-color: $bg-light;
    position: relative;
    text-align: center;
    &__title {
        margin-bottom: 30px;
    }
    &__btn {
        display: inline-block;
        margin: 50px auto;
        @include change(width, unset, 95%, $bp-m);
    }
    &__sort-hide {
        position: absolute;
        top: -85px;
        right: 0;
        @include hide($bp-xl);
    }
    &__sort-no-hide {
        position: absolute;
        top: -110px;
        right: 0;
    }
    &__work {
 

    }
}




