@import '../../styles/vars';
@import '../../styles/mixins';

.header {
    &__search {
        cursor: pointer;
    }
    &__search-icon {
        width: 22px;
        height: 22px;
        @include change(fill, var(--text), black, $bp-m);
        @include change(stroke, var(--text), black, $bp-m);
    }
    &__search-window {
        
        position: absolute;
        @include rp(padding, 35px 30px, null, 15px 10px);
        background-color: #9febeb;
        top: 100%;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
    }
    &__search-item {
        display: block;
        margin: 0 auto;
        max-width: 900px;
        position: relative;
    }
    &__search-input {
        display: block;
        width: 100%;
        left: 0;
        right: 0;
        @include pn-l;
        outline: none;
        border: none;
        font-size: 24px;
        font-weight: 300;
        color: #666666;
        @include rp(padding, 25px 100px 25px 25px, null, 10px 80px 10px 10px);
    }
    &__search-close {
        cursor: pointer;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        @include rp(right, 100px, null, 50px);
        &:after,
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            background-color: #666;
            top: 50%;
            left: 0;
            transform-origin: center center;
        }
        &:after {
            transform: translate(0%, -50%) rotate(45deg);
        }
        &:before {
            transform: translate(0%, -50%) rotate(-45deg);
        }
    }
    &__search-submit {
        display: block;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: transparent;
        position: absolute;
        top: 50%;
        @include rp(right, 40px, null, 10px);
        right: 40px;
        transform: translate(0%, -50%);
    }
    &__submit-icon {
        width: 25px;
        height: 25px;
        stroke: #666;
    }

}