@import '../../styles/vars';
@import '../../styles/mixins';

.header {
    &__user {
        cursor: pointer;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__user-inner {
        display: flex;
        align-items: center;
    }
    &__user-imgbox {
        width: 35px;
        height: 35px;
        position: relative;
        margin-right: 10px;
        border-radius: 50%;
        overflow: hidden;
    }
    &__guest-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65%;
        @include change(fill, var(--text), black, $bp-m);
        z-index: $z-zero;
    }
    &__user-img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: $z-bottom;
    }
    &__user-name {
        @include hide($bp-m);
    }
    &__user-menu {
        position: absolute;
        top: 100%;
        left: 50%;
    }
}

.user-menu {
    font-size: 17px;
    color: #2e3237;
    background-color: #fff;
    @include rp(transform, translateX(-50%), null, translateX(-43%));
    transform: translateX(-50%);
    padding: 20px 20px 40px;
    white-space: nowrap;
    
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        border-bottom: 15px solid white;
        border-top: 15px solid transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
    &__item {
        padding: 10px 20px;
        transition: $tr-fast;
        &--end {
            margin-bottom: 30px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 1px;
                background-color: #2e3237;
                left: 0;
                bottom: -15px;
            }
        }
        &:hover {
            color: white;
            background-color: #2e3237;
        }
    }
    &__out {
        border: none;
        background-color: transparent;
        font-size: 17px;
        color: #2e3237;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    &__out-icon {
        display: inline-block;
        width: 24px;
        height: 18px;
        transform: scale(-1);
        fill: #2e3237;
    }
}
