
@import '../../styles/vars';
@import '../../styles/mixins';
            
.art-news {
    background-color: #f3f4f5;
    @include rp(padding-top, 60px, 25px, null);
    @include rp(padding-bottom, 100px, 55px, 25px);
    position: relative;
    &__title {
        @include rp(margin-bottom, 45px, 15px, null);
    }   
    &__slider-controls {
        @include change(position, absolute, static, $bp-m);
        @include rp(top, -110px, -80px, null);
        right: 30px;
        display: flex;
        justify-content: space-between;
        width: 120px;
        margin: 0 auto 15px;
    }
}
.art-news-item {
   
    display: flex;
    @include change(flex-direction, row, column, $bp-m);
    position: relative;
    &__img {
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        flex-shrink: 0;
        @include change(width, 146px, 100%, $bp-m);
        @include change(height, 146px, 205px, $bp-m);
        object-fit: cover;
        @include change(margin, 30px, 0, $bp-m);
    }

    &__content {
        display: flex;
        flex-direction: column;
        @include change(margin-top, 15px, 0px, $bp-m);
         
    }
    &__text-content {
        @include hover {
            & .art-news-item__title{
                color: $primary;
            }
        }
    }
    &__rubric {
        display: block;
        margin-bottom: 20px;
        @include change(margin-bottom, 20px, 15px, $bp-m);
        @include pn-sb;
        @include change(font-size, 14px, 12px, $bp-m);
        @include change(line-height, 42px, 38px, $bp-m);
        
        border-bottom: 1px solid #ccc;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #2e3237;
        position: relative;
        transition: color $tr-fast;
        cursor: pointer;
        &:after {
            content:'';
            display: block;
            position: absolute;
            width: 40px;
            height: 1px;
            background-color: black;
            transition: width $tr-fast;
        }
        @include hover {
            color: $primary;
            &:after {
                width: 100%;
            }
        }
    }

    &__date {
        @include change(position, absolute, static, $bp-m);
        //position: absolute;
        top: 27px;
        right: 2px;
        margin-bottom: 10px;
        @include change(font-size, 14px, 13px, $bp-m);
        @include change(line-height, 18px, 15px, $bp-m);
        color: #666666;
    }

    &__title {
        @include pn-sb;
        @include change(font-size, 19px, 15px, $bp-m);
        @include change(line-height, 29px, 20px, $bp-m);
        margin-bottom: 15px;
        transition: color $tr-fast;
       
    }

    &__text {
        @include change(font-size, 17px, 15px, $bp-m);
        @include change(line-height, 24px, 24px, $bp-m);
        color: #2e3237;
        margin-bottom: 15px;
    }

    &__btn {
        display: block;
        align-self: flex-start;
        position: relative;
        margin-top: auto;
    }
}
.btn-arrow {
    transition: color $tr-fast;
    display: block;
    align-self: flex-start;
    position: relative;
    @include pn-sb;
    font-size: 16px;
    line-height: 34px;
    color: #333333;
    margin-top: auto;
    @include hover {
        color: $primary;
        &:after{
            background-color: $primary;
        }
        &:before{
            border-color: $primary;
        }
    }
    &:after, &:before {
        content:'';
        position: absolute;
        display: block;
        transition: $tr-fast;
    }
    &:after {
        width: 36px;
        height: 2px;
        top: 50%;
        left: 107%;
        transform: translate(0%, -50%);
        background-color: black;
    }
    &:before {
        width: 10px;
        height: 10px;
        transform: translateY(-50%) rotate(45deg);
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        top: 50%;
        left: 125%;
    }
}
