@import '../../styles/vars';
@import '../../styles/mixins';

.header {
    &__logo {
        order: -2;
        @include rsp(margin-right, 80px, 0px, null, 140px, 20px);
        display: block;
        height: 100%;
        @include change(width, 112px, 35px, $bp-s);
        font-size: 24px;
        line-height: 18px;
        letter-spacing: 0.025em;
        position: relative;
        &:before {
            @include change(content, "Art", "A", $bp-s);
            @include pn-bl;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        &:after {
            @include change(content, "Gallery", "G", $bp-s);
            @include pn;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }
    &__topmenu {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    &__copy {
        display: none;
        @include pn-l;
        @include show($bp-m);
        background-color: #ccc;
        font-size: 12px;
        line-height: 70px;
        color: #333333;
        text-align: center;
        margin-bottom: 55px;
    }
    &__bottommenu {
        &-wrapper {
            background-color: $white;
            @include change(padding, 20px 0 20px, 20px 0 0px, $bp-m);
        }
        & .container {
            height: auto;
        }
        position: fixed;
        z-index: $z-middle;
        @include change(width, 100vw, 90vw, $bp-m);
        @include change(height, auto, 100vh, $bp-m);
        overflow: auto;
        @include change(top, 80px, 55px, $bp-m);
        left: 0;
        color: $text;
        background-color: transparent;
     }
    &__menu-item {
        align-items: center;
        @include change(height, 100%, unset, $bp-m);
        @include change(margin-right, 20px, 0px, $bp-xl);
        &--top {
            @include rsp(display, flex, null, null, none);
        }
        &--bottom {
            @include rsp(display, none, null, null, inline-block, block);
            margin-left: -30px;
            margin-right: 30px;
            @media screen and (max-width: $bp-xl) {
                margin-left: -20px;
                margin-right: 20px;
            }
            @media screen and (max-width: $bp-l) {
                margin-left: unset;
            }
        }
        &--non-transfer {
            @include change(display, inline-block, block, $bp-m);
            margin-left: -30px;
            margin-right: 30px;
            @media screen and (max-width: $bp-xl) {
                margin-left: -20px;
                margin-right: 20px;
            }
            @media screen and (max-width: $bp-l) {
                margin-left: unset;
            }
        }
        &--end-mobile {
            @include change(margin-bottom, 0px, 30px, $bp-m);
            position: relative;
            &:after {
                @include change(content, none, '', $bp-m);
                position: absolute;
                display: block;
                width: 100%;
                height: 1px;
                background-color: #2e3237;
                left: 0;
                bottom: -15px;
            }
        }
        &--lang {
            @include rsp(display, none, null, null, null, block);
        }
        &--more {
            order: 0;
            display: flex;
            transition: background-color $tr-fast;
            cursor: pointer;
            position: relative;
            &:hover {
  
                &:before {
                    display: block;
                    @include hide($collapse-top-menu);
                }
                &>a {
                    background-color: $header-hover;
                    color: $white;
                    &:after {
                        border-right: 2px solid white;
                        border-bottom: 2px solid white;
                    }
                }
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                border-bottom: 15px solid $white;
                border-top: 15px solid transparent;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                display: none;
                @include hide($collapse-top-menu);
            }
        }
    }
    &__menu-link {
        display: block;
        transition: background-color $tr-fast;
        &:hover {
            background-color: $header-hover;
            color: $white;
            &:after {
                border-right: 2px solid white;
                border-bottom: 2px solid white;
            }
        }
        padding: 12px 20px;
        &--more {
            padding-right: 47px;
            @include hide($bp-l);
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                right: 23px;
                width: 7px;
                height: 7px;
                //margin-left: 5px;
                border-right: 2px solid var(--text);
                border-bottom: 2px solid var(--text);
                transform: translateY(-50%) rotate(45deg);
                transform-origin: center;
                @include hide($collapse-top-menu);
            }
        }
    }
}
$h1_height: 15px;
$h1_width: 20px;
$h1_deg: 43;
$h1_thickness: 2px;
$h1_time: .2s;
.header__hamburger {
    order: -5;
    display: none;
    @include show($bp-l);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    height: $h1_height;
    width: $h1_width;
    & span {
        border-radius: $h1_thickness / 2;
        height: $h1_thickness;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        transition: transform $h1_time, opacity $h1_time;
        transform-origin: 50% 0%;
    }
    & span:nth-child(n) {
        @include change(background-color, var(--text), black, $bp-m);
    }
    & span:nth-child(1) {
        opacity: 1;
        top: 0%;
        transform: rotate(0deg);
    }
    & span:nth-child(2) {
        top: 50%;
        transform: translate(0%, -50%);
    }
    & span:nth-child(3) {
        top: 50%;
        transform: translate(0%, -50%);
    }
    & span:nth-child(4) {
        opacity: 1;
        bottom: 0%;
        transform: rotate(0deg);
    }
    //---Opened state
    &--active span:nth-child(1) {
        opacity: 0;
        transform: translate(-100%, 0%);
    }
    &--active span:nth-child(2) {
        transform: rotate(#{$h1_deg}deg) translate(0%, -50%);
    }
    &--active span:nth-child(3) {
        transform: rotate(-#{$h1_deg}deg) translate(0%, -50%);
    }
    &--active span:nth-child(4) {
        opacity: 0;
        transform: translate(100%, 0%);
    }
}

