
@import '../../styles/vars';
@import '../../styles/mixins';
            
.popups {
   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    overflow: auto;
 
    &__window {
        background-color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 7% auto;
        width: fit-content;
        height: fit-content;
        z-index: $z-modal;
    }
    &__close {
        position: absolute;
        @include change(top, 10px, -5px, $bp-m);
        @include change(right, 10px, 5px, $bp-m);
        @include change(width, 45px, 30px, $bp-m);
        @include change(height, 45px, 30px, $bp-m);
        cursor: pointer;
        z-index: 2;
        &:after,
        &:before {
            content: '';
            position: absolute;
            display: block;
            background-color: black;
            @include change(width, 25px, 17px, $bp-m);
            @include change(height, 5px, 4px, $bp-m);
            transform-origin: center;
            top: 20px;
            left: 10px;
            cursor: pointer;
        }
        &:after {
            transform: rotate(45deg);
        }
        &:before {
            transform: rotate(-45deg);
        }
    }
    &__item {
        @include rp(padding, 45px 40px 40px 40px, null, 30px 20px 20px 20px);
        color: black;
        width: 860px;
        @media screen and (max-width: $bp-l) {
            width: 85vw;
        }
        @media screen and (max-width: $bp-m) {
            width: 95vw;
        }
        &--small {
            @include rp(max-width, 530px, 360px, null);
            @include rp(padding, 35px 45px 30px 45px, null, 30px 20px 20px 20px);
        }
    }
}
.popup {
    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            background-color: black;
            width: 40px;
            height: 1px;
            top: 100%;
            @include change(left, 0, 50%, $bp-m);
            @include change(transform, translate(0%, 0%), translate(-50%, 0%), $bp-m);
        }
        &--center {
            justify-content: center;
            &:after {
                left: 50%;
                transform: translate(-50%, 0%);
            }
        }
        &--padding-bottom {
            padding-bottom: 20px;
            @include change(display, flex, block, $bp-m);
        }
    }
    &__title {
        @include pn-l;
        @include rp(font-size, 36px, 24px, null);
        @include change(padding, 15px 0 15px 0, 0 0 20px 0, $bp-m);
        line-height: 1.25;
        @include change(text-align, left, center, $bp-m);
        @include change(width, unset, 100%, $bp-m);
    }
    &__subtitle {
        display: block;
        @include change(padding-top, 20px, 10px, $bp-m);
        margin-bottom: -20px;
        @include change(font-size, 14px, 12px, $bp-l);
        color: #999;
    }
    &__body {
        padding-top: 30px;
        display: flex;
        @include change(flex-direction, row, column-reverse, $bp-m);
        width: 100%;
    }
    &__social {
        @include change(padding-right, 45px, 0px, $bp-m);
        @include change(border-right, 1px solid #ccc, none, $bp-m);
        flex-shrink: 0;
        &-text {
            @include change(font-size, 18px, 14px, $bp-xl);
            margin-bottom: 10px;
            @include change(text-align, left, center, $bp-m);
            @include change(margin-top, 0, 25px, $bp-m);
            @include change(padding-top, 0, 25px, $bp-m);
            @include change(border-top, none, 1px solid #ccc, $bp-m);
        }
        &-link {
            @include change(font-size, 19px, 14px, $bp-xl);
            display: block;
            @include change(max-width, 100%, 80%, $bp-m);
            margin-left: auto;
            margin-right: auto;
            border: 1px solid #ccc;
            border-radius: 30px;
            position: relative;
            @include change(padding, 11px 20px 11px 90px,  5px 50px 5px 60px, $bp-xl);
            @include change(margin-bottom, 14px, 12px, $bp-xl);
        }
        &-icon {
            @include change(width, 22px, 18px, $bp-xl);
            @include change(height, 22px, 18px, $bp-xl);
            fill: black;
            position: absolute;
            @include change(top, 20%, 18%, $bp-xl);
            @include change(left, 40px, 25px, $bp-xl);
        }
    }
}
.popup-aside {
    & span {
        @include pn;
        @include change(font-size, 14px, 12px, $bp-xl);
        color: #999;
    }
    & button,
    & a {
        
        padding: 0;
        margin-right: 5px;
        margin-left: 10px;
        @include pn;
        @include change(font-size, 14px, 12px, $bp-xl);
        color: #999;
        border: none;
        background-color: transparent;
        border-bottom: 1px dotted #999;
        cursor: pointer;
        transition: color $tr-fast;
        @include hover {
            color: $primary;
            border-color: $primary;
        }
    }
    &--bottom {
        align-self: flex-end;
        @include change(text-align, left, center, $bp-m);
    }
    &--center {
        margin-top: 20px;
        text-align: center;
        @include change(display, block, flex, $bp-m);
        justify-content: space-between;
    }
}
.form {
    width: 100%;
    &-item {
        display: block;
        margin-bottom: 30px;
        @include rp(margin-bottom, 5px);
        position: relative;
        width: 100%;
    }
    &-input {
        display: block;
        width: 100%;
        border: 1px solid #ccc;
        @include pn;
        font-size: 16px;
        @include change(padding, 10px, 5px, $bp-xl);
        position: relative;
        margin-bottom: 7px;
    }
    &-text {
        @include change(font-size, 17px, 14px, $bp-xl);
        display: block;
        margin-bottom: 5px;
    }
    &-submit {
        width: 100%;
        &.big-button {
            margin-top: 25px;
        }
    }
}




label.error {
    color: #990000;
    width: 100%;
    text-align: left;
    font-size: 14px;
    line-height: 1.25;
}
input.error {
    border-color: #990000;
}
input.error~ span {
    color: #990000 ;
}
