@import '../../styles/vars';
@import '../../styles/mixins';

.header {
    &__lang {
        @include hide($bp-m);
        cursor: pointer;
        height: 100%;
        position: relative;
        width: 50px;
    }
    &__lang-current {
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__lang-menu {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.lang-menu {
    font-size: 17px;
    color: #2e3237;
    background-color: $white;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        border-bottom: 15px solid $white;
        border-top: 15px solid transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
    &__list {
        padding: 20px;
        & li:not(:last-child){
            margin-bottom: 20px;
        }
    }
}


