
@import '../../styles/vars';
@import '../../styles/mixins';
            
.review {
    background-color: $white;
    padding-top: 30px;
    @include rp(padding-bottom, 50px, null, 5px);
    &__title-std {
        @include change(margin-bottom, 50px, 20px, $bp-m);
    }
    &__slider-controls {
        display: flex;
        justify-content: space-between;
        @include change(position, absolute, static, $bp-m);
        margin: 0 auto 30px;
        top: -120px;
        @include rp(right, 51px, 0px, null);
        width: 120px;
    }
    &__slider-container {
        @include change(width, 1240px, auto, $bp-m);
    }
    & .container {
        padding: 0 9px;
    }
}

// :root {
//     @include rsp(var(review-card-gap), 42px, null, 21px, null, 5px);
// }
.review-item {
    
    @include rsp(--review-card-gap, 42px, 42px, 21px, 21px, 5px,  5px,  5px);
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    @include rp(padding, 0 20px, 0 12px, 0 8px);
    &--reverse {
        flex-direction: column-reverse;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__card {
        @include change(color, white, black, $bp-m);
        @include change(text-align, center, left, $bp-m);
        width: 50%;
        margin-bottom: var(--review-card-gap);
        position: relative;
        &:not(:last-child){
            margin-right: var(--review-card-gap);
        }
        &--wide {
            width: 100%;
        }
        @include hover {
            &>.review-item__img:after {
                opacity: .7;
            }
            &>.review-item__img:before {
                transform: scale(1.3);
            }
        }
    }
    &__img {
        overflow: hidden;
        display: block;
        position: relative;
        &:after{
            content:'';
            display: block;
            background-color: black;
            opacity: .5;
            padding-top: 100%;
            transition: $tr-slow;
        }
        &:before {
            content:'';
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: inherit;
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transform-origin: center;
            transform: scale(1);
            transition: $tr-slow;
        }
        &--wide {
            &:after{
                content:'';
                display: block;
                padding-top: calc(50% - var(--review-card-gap) / 2);
            }
        }
    }
    &__text-bottom {
        display: block;
        width: 100%;
        @include change(position, absolute, static, $bp-m);
        @include change(transform, translate(-50%, 0%), translate(0%, 0%), $bp-m);
        @include pn-sb;
        @include change(font-size, 22px, 14px, $bp-m);
        @include change(padding, 15px 5px 5px 5px, 10px 5px 5px 5px, $bp-m);
        top: 50%;
        left: 50%;
        transform-origin: center;
        z-index: $z-middle;
    }
    &__text-top {
        display: block;
        width: 100%;
        @include change(position, absolute, static, $bp-m);
        @include change(transform, translate(-50%, -100%), translate(0%, 0%), $bp-m);
        @include change(font-size, 22px, 14px, $bp-m);
        top: 50%;
        left: 50%;
        transform-origin: center;
        z-index: $z-middle;
        @include change(padding, 5px 5px 15px 5px, 5px 5px 10px 5px, $bp-m);
        &:after {
            @include change(background-color, white, black, $bp-m);
            @include change(right, 0, unset, $bp-m);
            @include change(left, 0, 5px, $bp-m);
            content: '';
            display: block;
            position: absolute;
            width: 40px;
            height: 1px;
            bottom: 0;
            margin: auto;
        }
    }
}
.slider-control-btn {
    width: 56px;
    height: 56px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: $tr-fast;
    transform-origin: center center;
    @include hover(){
        background-color: #4a4f52;
        &:after {
            border-color: #fff;
        }
    }
    &:after{
        content:'';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        transform-origin: 50%, 50%;
        transform: rotate(45deg) translate(-90%, 10%);
    }
    &--prev {
        transform: rotate(180deg);
    }
    &--no-bg {
        @include hover(){
            background-color: #4a4f52;
            &:after {
                border-color: #fff;
            }
        }
        @media screen and (max-width: $bp-xl){
            @include hover(){
                background-color:transparent;
                &:after {
                    border-color: $primary;
                }
            }
        }
    }
}
