
@import '../../styles/vars';
@import '../../styles/mixins';
            
.title-std {
    width: 100%;
    border-bottom: 1px solid #e2e3e3;
    text-align: center;
    &__content {
        display: inline-block;
        @include pn-l;
        @include rsp(font-size, 36px, null, 30px, null, null, 22px);
        line-height: 42px;
        color: #2e3237;
        position: relative;
        @include rsp(padding-bottom, 15px, null, 15px, null, 14px);
        padding-left: 5px;
        padding-right: 5px;
        &:after {
            content: '';
            display: block;
            background-color: #a0a0a1;
            position: absolute;
            height: 2px;
            width: 43px;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            transition: $tr-fast;
        }
    }
}