
@import '../../styles/vars';
@import '../../styles/mixins';
            
.item-works {
    @include change(background, #f7f7f7, linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 25%, #F3F4F5 25%), $bp-m);
    @include rp(padding-top, 70px, null, 10px);
    @include rp(padding-bottom, 20px, null, null);
    &__title {
        @include rp(margin-bottom, 30px, null, null);
    }
    &__slider-controls {
        display: flex;
        justify-content: space-between;
        @include change(width, 120px, 100%, $bp-m);
        position: absolute;
        @include change(right, 30px, 0, $bp-m);
        top: -100px;
    }
    &__container {
      @include change(padding, 0, 0 10px, $bp-m);
      @include rp(max-width, 1240px, 600px, 95%);
    }
}
.item-works .swiper-container {
    @include rp(overflow, hidden !important, visible !important, hidden !important);
}

.slider-control-btn {
    width: 56px;
    height: 56px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: $tr-fast;
    transform-origin: center center;
    @include hover(){
        background-color: #4a4f52;
        &:after {
            border-color: #fff;
        }
    }
    &:after{
        content:'';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        transform-origin: 50%, 50%;
        transform: rotate(45deg) translate(-90%, 10%);
    }
    &--prev {
        transform: rotate(180deg);
    }
    &--no-bg {
        @include hover(){
            background-color: #4a4f52;
            &:after {
                border-color: #fff;
            }
        }
        @media screen and (max-width: $bp-xl){
            @include hover(){
                background-color:transparent;
                &:after {
                    border-color: $primary;
                }
            }
        }
    }
}
