
@import '../../styles/vars';
@import '../../styles/mixins';
            
.catalog-title__wrapper {
    position: relative;
    @include rp(height, 300px, 200px, 150px);
    width: 100%;
    @include rp(margin-top, 82px, 82px, 53px);
}
.catalog-title {
    transform-style: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    &__text {
        @include pn-l;
        @include rp(font-size, 38px, null, 26px);
        @include rp(padding-bottom, 12px, null, 3px);
        @include rp(left, 60px, null, 8px);
        position: absolute;
        @include rp(top, 50%, 60%, 70%);
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: black;
            height: 2px;
            width: 40px;
        }
    }
}