
@import '../../styles/vars';
@import '../../styles/mixins';
            
.choice {
    //@include hide($bp-m);
    position: relative;
    padding: 10px 20px;
    background-color: #1b1d21;
    background-clip: content-box;
    margin-bottom: 30px;
    //width: 300px;
    
    &__img {
        position: absolute;
    }
    &__img--1 {
        top: 21px;
        left: 0px;
    }
    &__img--2 {
        top: -9px;
        left: 0;
        right: 0;
        margin: auto;
    }
    &__img--3 {
        top: 21px;
        right: 0px;
    }
    &__img--4 {
        left: 0;
        bottom: 45px;
        z-index: $z-bottom;
    }
    &__title{
        display: block;
        @include pn-l;
        font-size: 22px;
        line-height: 31px;
        color: white;
        margin-top: 190px;
        padding-top: 20px;
        position: relative;
        margin-left: 35px;
        margin-right: 35px;
        margin-bottom: 170px;
        transition: $tr-fast;
        &:after {
            content:'';
            display: block;
            position: absolute;
            background-color: white;
            height: 1px;
            width: 40px;
            top: 0;
            left: 0;
        }
        @include hover{
            color: $primary;
        }
    }
    &__button {
        display: block;
        @include pn-sb;
        font-size: 16px;
        line-height: 60px;
        color: white;
        position: absolute;
        z-index: $z-zero;
        width: calc(100% - 40px);
        bottom: 78px;
        padding: 0px 22px;
        transition: $tr-fast;
        @include hover {
            background-color: $primary;
        }
        &:after, &:before {
            content:'';
            position: absolute;
            display: block;
            transition: $tr-fast;
        }
        &:after {
            width: 30px;
            height: 2px;
            top: 50%;
            right:18%;
            transform: translate(10%, -50%);
            background-color: white;
        }
        &:before {
            width: 8px;
            height: 8px;
            transform: translateY(-50%) rotate(45deg);
            border-top: 2px solid white;
            border-right: 2px solid white;
            top: 50%;
            right: 17%;
        }
    }
}
.sort {
    @include pn;
    background-color: #fff;
    margin-right: 30px;
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 23px;
        width: 7px;
        height: 7px;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        transform: translateY(-50%) rotate(45deg);
        transform-origin: center;
        z-index: $z-zero;
    }
    &__title{
        font-family: inherit;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        left: -130px;
        font-size: 14px;
     }
    &__categories {
        cursor: pointer;
        display: block;
        border: none;
        font-family: inherit;
        width: 100%;
        background-color: transparent;
        font-size: 15px;
        padding: 12px 45px 12px 25px;
        position: relative;
        z-index: $z-bottom;
    }
}
