
@import '../../styles/vars';
@import '../../styles/mixins';
            
.beginning {
    @include rsp(padding-top, 60px, null,40px, null, 23px);
    @include rsp(padding-bottom, 65px, null,40px, null, 23px);
    &__title-std {
        margin-bottom: 45px;
    }
    &__content {
        display: flex;
        @include change(flex-direction, row, column, $bp-m);
        @include change(align-items, flex-start, center, $bp-m);
        @include change(justify-content, space-between, center, $bp-m);
    }
    &__expert-choice {
        @include change(margin-left, auto, unset, $bp-m);
        @include change(margin-top, 0, 10px, $bp-m);
        @include rsp(max-width, 404px , null, 237px, null, 100%);
    }
}
.expert-choice {
    &__img {
        display: block;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        &:after {
            content: '';
            display: block;
            padding-top: 70%;
        }
    }
    &__rubric {
        margin-bottom: 20px;
        @include rsp(margin-bottom, 20px, null, 5px);
    }
    &__link {
        @include pn-sb;
        @include change(font-size, 19px, 15px, $bp-xl);
        @include rsp(line-height, 29px, null, 22px);
        letter-spacing: 0.025em;
        transition: $tr-fast;
        @include hover {
            color: $primary;
        }
    }
}

.video-item {
    max-width: 778px;
    width: 100%;
    cursor: pointer;
    @include rsp(margin-right, 60px, null, null, 35px, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    &__title {
        @include pn-sb;
        color: white;
        @include change(font-size, 25px, 15px, $bp-xl);
        letter-spacing: 0.025em;
        position: absolute;
        z-index: $z-bottom;
        @include rsp(left, 45px, null, null, 15px, null, 10px);
        @include rsp(bottom, 45px, null, null, 15px, null, 10px);
        @include rsp(padding-right, 45px, null, null, 20px, null, 10px);
    }
    &__icon {
        position: absolute;
        z-index: $z-bottom;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70px;
        height: 70px;
        fill: white;
        stroke: white;
        stroke-width: 3px;
    }
    &:after {
        content:'';
        display: block;
        background: linear-gradient(180deg, rgba(133, 132, 132, 0) 0%, #000000 100%);
        opacity: .9;
        padding-top: 56%;
    }
}
.video-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $bg-dark;
   
    overflow: auto;
    z-index: $z-bottom;

}
.video-close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 5;
    &:after,
    &:before {
        content: '';
        position: absolute;
        display: block;
        height: 2px;
        width: 100%;
        top: 50%;
        transform-origin: 50% 50%;
        background-color: white;
    }
    &:after {
        transform: translateY(-50%) rotate(45deg);
    }
    &:before {
        transform: translateY(-50%) rotate(-45deg);
    }
}
.video {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    //@include rp(width, 70%, 80%, 90%);

    //margin: 120px auto;
    // &:after {
    //     content: '';
    //     width: 100%;
    //     padding-top: 60%;
    //     display: block;
    // }
    &__frame {

      @include rp(width, 65%, 70%, 90%);
       position: relative;
       &:after{
           content: '';
           display: block;
           padding-top: 56%;
       }
       & iframe{
           position: absolute;
           top: 0;
           left: 0;
           right: 0;
           margin: 0 auto;
           width: 100%;
           height: 100%;
           display: block;
       }
        // & iframe {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     bottom: 0;
        //     right: 0;
        //     margin: auto;
        // }
        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 100vw;
        // height: 100vh;
    }
}

.title-small {
    padding-bottom: 0px;
    border-bottom: 1px solid #e2e3e3;
    &__content {
        @include pn-sb;
        text-transform: uppercase;
        display: inline-block;
        @include change(font-size, 14px, 12px, $bp-xl);
        @include rsp(padding, 17px 0, null, 10px 0);
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #2e3237;
        position: relative;
        &:after {
            content: '';
            width: 40px;
            height: 1px;
            background-color: black;
            position: absolute;
            left: 0;
            bottom: -1px;
            transition: width $tr-fast;
        }
        @include hover {
            color: $primary;
            &:after {
                width: 100%;
            }
        }
    }
}