
@import '../../styles/vars';
@import '../../styles/mixins';
            
.success {
    &__text {
        @include pn;
        @include change(font-size, 17px, 14px, $bp-xl);
        color: black;
        @include change(padding,
        35px 60px 30px 60px,
        20px,
        $bp-xl);
        width: 100%;
        text-align: center;
    }
    &__img {
        display: block;
        @include rp(height,
        130px,
        100px,
        90px);
        @include rp(width,
        130px,
        100px,
        90px);
        margin: 10px auto;
    }
}