
@import '../../styles/vars';
@import '../../styles/mixins';
            
.reg {
    &__inputs {
        @include change(padding-left, 45px, 0px, $bp-m);
        width: 100%;
        flex-grow: 1;
    }
    &__choice {
        display: flex;
        @include change(justify-content, center, flex-start, $bp-xs);
        align-items: center;
        @include change(border-bottom, 1px solid #ccc, none, $bp-m);
        @include change(margin-bottom, -10px, -30px, $bp-m);
        @include change(margin-left, 0px, -20px, $bp-m);
        &-label {
            @include change(margin-left, 50px, 40px, $bp-m);
            cursor: pointer;
        }
        &-check:checked+span {
            &:before {
                content: '';
            }
        }
        &-text {
            @include pn-sb;
            @include change(font-size, 17px, 14px, $bp-l);
            @include change(line-height, 60px, 40px, $bp-m);
            position: relative;
            display: block;
            &:after {
                content: '';
                position: absolute;
                display: block;
                top: 50%;
                transform: translate(0%, -50%);
                @include change(left, -25px, -22px, $bp-m);
                width: 17px;
                height: 17px;
                border: 2px solid $primary;
                border-radius: 50%;
            }
            &:before {
                content: none;
                position: absolute;
                border: 1px solid $primary;
                background-color: $primary;
                border-radius: 50%;
                width: 7px;
                height: 7px;
                top: 50%;
                transform: translate(0%, -50%);
                @include change(left, -20px, -17px, $bp-m);
            }
        }
    }
    &__text {
        margin-bottom: 10px;
        @include change(font-size, 18px, 14px, $bp-xl);
    }
    &__userdata {
        @include change(display, flex, block, $bp-m);
        width: 100%;
        justify-content: space-between;
        & label {
            display: block;
            @include change(width, 47%, 100%, $bp-m);
        }
    }
    &__agree {
        display: block;
        margin-bottom: 30px;
        cursor: pointer;
        &-input:checked~span {
            &:after {
                content: '';
            }
        }
        &-text {
            @include pn;
            @include change(font-size, 14px, 12px, $bp-xl);
            color: #999;
            position: relative;
            padding-left: 25px;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 15px;
                height: 15px;
                border: 2px solid $primary;
            }
            &:after {
                content: none;
                position: absolute;
                background-image: url("data:image/svg+xml,%3Csvg width='117' height='88' viewBox='0 0 117 88' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37 85.5L2 48.5C-0.4 45.9629 0.333333 43.7762 1 43C2.5 41.1667 6.02911 36.3677 9.5 35.5C11.5 35 13.5 35.5 14.5 36.5C15.4056 37.4055 34.5 58.5 37.5 61C40.5 63.5 42.3333 63.1667 43.5 62C62.6667 41.8333 101.4 1.3 103 0.5C104.6 -0.3 106.667 0.166667 107.5 0.5C109.333 1.83333 113.5 5.1 115.5 7.5C117.5 9.9 116.333 12.1667 115.5 13C93.3333 35.5 48.2 81.5 45 85.5C41.8 89.5 38.3333 87.1667 37 85.5Z' fill='%23009999'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                height: 15px;
                width: 15px;
                top: -2px;
                left: 3px;
            }
        }
        &-link {
            padding: 0;
            border-bottom: 1px dotted #999;
            transition: color $tr-fast;
            @include hover {
                color: $primary;
                border-bottom-color: $primary;
            }
        }
    }
}

.reg__agree label.error {
    display: none !important;
}

.error.reg__agree-text:before{
    border-color:  #990000;
}