
@import '../../styles/vars';
@import '../../styles/mixins';
            
.catalog-slider {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0 1px 0;
    @include rp(padding-top, 60px);
    @include rp(padding-bottom, 30px, null, null);
    @include pn-l;
    &__title {
        @include rp(font-size, 24px, null, 18px);
        @include rp(text-align, left, null center);
        padding-top: 20px;
        color: #2e3237;
        @include rp(margin-bottom, 25px, 20px, null);
    }
    &__container {
        position: relative;
    }
    &__slider-controls {
        display: flex;
        justify-content: space-between;
        @include rp(width, 120px, null, 100%);
        position: absolute;
        z-index: $z-bottom;
       @include rp(top, -20px, null, 45%);
       @include rp(right, 40px, 20px, 0);
       @include rp(left, unset, null, 0);
    }
    &__item {
        display: block;
        @include rp(margin, 0 0, null, 0 50px);
        @include hover {
           & .catalog-slider__img:before {
                opacity: 1;
           }
           & .catalog-slider__jenre {
               background-color: $primary;
           }   
        }
    }
    &__img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        position: relative;
        transition: border-color $tr-fast;
        &:after{
            content:'';
            display: block;
            padding-top: 65%;
        }
        &:before {
            content:'';
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border:5px solid $primary;
            opacity: 0;
            transition: opacity $tr-fast;
        }
    }
    &__jenre {
        @include rp(font-size, 20px, 14px, null);
        @include rp(padding, 8px 18px, 4px 8px, null);
        font-size: 20px;
        color: $white;
        background-color: #3b3d42;
        width: fit-content;
        transition: background-color $tr-fast, border-color $tr-fast;
        position: relative;
    }
}

.slider-control-btn {
    width: 56px;
    height: 56px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: $tr-fast;
    transform-origin: center center;
    @include hover(){
        background-color: #4a4f52;
        &:after {
            border-color: #fff;
        }
    }
    &:after{
        content:'';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        transform-origin: 50%, 50%;
        transform: rotate(45deg) translate(-90%, 10%);
    }
    &--prev {
        transform: rotate(180deg);
    }
    &--no-bg {
        @include hover(){
            background-color: #4a4f52;
            &:after {
                border-color: #fff;
            }
        }
        @media screen and (max-width: $bp-xl){
            @include hover(){
                background-color:transparent;
                &:after {
                    border-color: $primary;
                }
            }
        }
    }
}