@import 'vars';
@import 'mixins';

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    min-width: 319px;
    @include pn;
    letter-spacing: 0.025em;
}

.container {
    max-width: 1300px;
    padding: 0 30px;
    margin: 0 auto;
    height: 100%;
    @media screen and (max-width: $bp-xl) {
        padding: 0 20px;
    }
    @media screen and (max-width: $bp-m) {
        padding: 0 10px;
    }
    &--zero-padding-mobile {
        @media screen and (max-width: $bp-m) {
            padding: 0;
        }
    }
    &--zero-padding-tablet {
        @media screen and (max-width: $bp-xl) {
            padding: 0;
        }
        // @media screen and (max-width: $bp-l) {
        //     padding: 0;
        // }
        // @media screen and (max-width: $bp-m) {
        //     padding: 0;
        // }
        // @media screen and (max-width: $bp-s) {
        //     padding: 0;
        // }
        // @media screen and (max-width: $bp-xs) {
        //     padding: 0;
        // }
    }
}
// .container-no-height {
//     max-width: 1300px;
//     padding: 0 30px;
//     margin: 0 auto;
//     @media screen and (max-width: $bp-xl) {
//         padding: 0 20px;
//     }
//     @media screen and (max-width: $bp-m) {
//         padding: 0 10px;
//     }
// }
.relative {
    position: relative;
}

.flex {
    display: flex;
}

.aic {
    align-items: center;
}

.jcsb {
    justify-content: space-between;
}

.ruble {
    @include ptr;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}

.animated-arrow {

    &:after{
        content: '';
        display: block;
        position: absolute;
        z-index: $z-middle;
        width: 12px;
        height: 9px;
        top:40%;
        right:15px;
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 0.5L4.5 4.5L8.5 0.5' stroke='black'/%3E%3C/svg%3E");        
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: transform $tr-fast;
        transform-origin: center;
        transform: rotate(0deg);
    }
    &.active:after{
        transform: rotate(180deg);
    }
    &.opened:after{
        transform: rotate(180deg);
    }

}

.big-button {
    user-select: none;
    @include pn-sb;
        @include rp(font-size, 16px, 12px);
        @include rp(line-height, 61px, 38px);
        border: none;
        background-color: $primary;
        color: white;
        width: 100%;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;
        transition: background-color $tr-slow;
        @include hover {
            background-color: #26a9a9;
            &:after {
                opacity: 1;
            }
        }
        &:after {
            content: '';
            position: absolute;
            display: block;
            top: 3px;
            bottom: 3px;
            left: 3px;
            right: 3px;
            border: 1px solid white;
            opacity: .3;
            transition: opacity $tr-fast;
        }
}
.hide-mobile {
    @include hide($bp-m);
}

.show-mobile {
    display: none;
    @include show-di($bp-m);
}

.headerAssetsAppear {
    animation: headerAssetsAppear .3s ease-out 0s 1 forwards;
}
@keyframes headerAssetsAppear {
    from {
        opacity: 0;
        
    }
    to {
        opacity: 1;
        
    }
}

.hidden{
    opacity: 0 !important;
    pointer-events: none !important;
    height: 0 !important;
}

.none {
    display: none !important;
}

